<header>
  <div class="logo">
      <h1>CarbonIQ</h1>
  </div>
  <nav>
      <a href="#">Beranda</a>
      <a href="#">Peta</a>
      <a href="#">Dashboard</a>
      <a href="#">Data</a>
      <a href="#">Informasi</a>
      <a href="#">Berita</a>
  </nav>
</header>

<section class="hero">
  <h1>Pemantauan Jejak Karbon dan Emisi Berbasis Teknologi Geospasial</h1>
  <p>Aplikasi pemantauan dan analisis kualitas udara berdasarkan emisi gas buang di Daerah Istimewa Yogyakarta, Indonesia</p>
  <button>Telusuri</button>
</section>

<section class="features">
  <h2>Fitur Utama Website</h2>
  <div class="features-container">
      <div class="feature-box">
          <h3>Informasi CCS</h3>
          <p>Informasi umum terkait perkembangan teknologi untuk mengurangi emisi gas karbon menuju atmosfer.</p>
      </div>
      <div class="feature-box">
          <h3>Peta Distribusi Karbon</h3>
          <p>Temukan area tempatmu berada dan ketahui besaran emisinya!</p>
      </div>
      <div class="feature-box">
          <h3>Rekap Informasi Karbon</h3>
          <p>Analisis prediktif terhadap emisi karbon untuk mendukung pembangunan berkelanjutan.</p>
      </div>
  </div>
</section>
